.form-container {
  max-width: 800px;
  margin: 0 auto;

  h2 {
    font-size: 2rem;
    border-bottom: solid 0.25rem orange;
    width: fit-content;
    margin: 2rem auto;
  }
}

.form-wrapper {
  width: 100%;
  padding: 1.5rem;

  background: #fff;
  border: 2px solid #f2a23a;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0,0,0,.08);

  .form-profile-label {
    font-weight: bold;
  }
}

.form-profile-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: .75rem auto;
}

.form-profile-label {
  flex: 0 0 25%;
}

.form-profile-media {
  display: flex;
  align-items: center;
  flex: 0 0 75%;
  gap: 1rem;
  flex-wrap: wrap;
  min-width: 0;
}

.icon-input {
  display: none;
}

.icon-upload-btn {
  padding: .5rem 1rem;
  border: 2px solid #64747b;
  border-radius: 4px;
  background: #fff;
  color: #64748b;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: #64748b;
    color: #fff;
  }
}


.form-profile-value-img {
  border-radius: 50%;
  object-fit: cover;
}

.form-profile-value {
  flex: 0 0 50%;
}
