.login-account-container {
  max-width: 800px;
  margin: 0 auto;

  h2 {
    font-size: 2rem;
    border-bottom: solid 0.25rem orange;
    width: fit-content;
    padding-bottom: 5px;
    margin: 30px auto;
  }
}



.login-account-wrapper {
  width: 70%;
  margin: 20px auto;
  background: #fff;
  border: 2px solid #f2a23a;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0,0,0,.08);

  form {
    width: 70%;
    margin: 45px auto;
  }
}

.login-account-row {
  display: flex;
  align-items: center;
  margin: 1.25rem auto;
}

.login-account-row .field_with_errors {
  display: contents;
}

.login-account-label {
  flex: 0 0 50%;
  font-weight: bold;
}

.login-account-value {
  flex: 0 0 50%;
  padding: .5rem;
  box-sizing: border-box;
  resize: none;
  border: 1px solid #64748b;
  border-radius: 4px;
}

.login-account-btn {
  display: flex;
  width: 80%;
  margin: 32px auto;
  white-space: nowrap;
}


