@import 'variables'; 

.form-room-container {
  width: 800px;
  margin: 0 auto;

  h2 {
    font-size: 2rem;
    border-bottom: solid 0.25rem orange;
    width: fit-content;
    margin: 0 auto 32px;
  }
}

.form-room-wrapper {
  width: 100%;
  padding: 1rem 2rem;

  background: #fff;
  border: 2px solid #f2a23a;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0,0,0,.08);
}


.form-room-row.form-room-horizontal {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px;
}

.form-room-meta {
  width: 30%;
}

.form-room-title {
  font-weight: 600;
  font-size: 1rem;

  small {
    margin-left: 6px;
    font-size: 0.75rem;
    font-weight: bold;
    color:  #F97316;
    background-color: #FFEDD5;
    padding: 6px;
    border-radius: 6px;
  }
}

.form-room-error {
  margin-top: 4px;
  color:  #EA580C;
  font-size: 0.8rem;
}

.form-room-input {
  width: 75%;
}

.form-room-value {
  width: 100%;
  min-height: 48px;
  padding: 10px 12px;
  border: 1px solid #94a3b8;
  border-radius: 8px;
  font-size: 0.95rem;
}

.form-room-media {
  margin-top: 32px;
}

.form-room-introduction {
  height: 150px;
}

.icon-input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.room-upload-btn {
  padding: 16px;
  border-radius: 4px;
  background: #64748b;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  margin-right: .5rem;

  &:hover {
    background-color: #64748b;
    color: #fff;
  }
}

.form-room-media {
  display: flex;
  gap: 1rem;
}

.form-room-media-label {
  flex: 0 0 35%;
}
.form-room-media-input {
  flex: 0 0 65%;
}

.form-room-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  margin: 24px 0 16px;

  .room-btn {
    width: 450px;
    padding: 16px 20px;
    font-size: 20px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 12px;

    &-ope {
    background-color: #F0643A;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    }

    &-return {
    text-decoration: none;
    transition: 0.3s;
    border: 2px solid #64747b;
    background-color: #FFF;
    color: #64748b;
    font-weight: bold;
    }
  }

}
