.search-form-container {
  background-color: #FFE8CC;


  .search-form-rooms { 
    display: flex; 
    height: 80px;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 2rem;
    }
}

.room-index-container {
  width: 1200px;
  margin: 30px auto;

  h2 {
    font-size: 2rem;
    border-bottom: solid 0.25rem orange;
    border-radius: 4px;
    width: fit-content;
  }
}

.room-index-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 24px;
  width: 100%;
  max-width: 1200px;
  margin: 1.5rem auto;

}

@media (max-width: 1024px) {
  .room-index-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.room-index-card {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  overflow: hidden;

  .room-index-img-field {


    .room-index-img {
      height: 190px;
      width: 100%;
    }
  }
}

.room-index-info-field {
  color: #767E86;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  h3 {
    font-size: 32px;
  }

  .room-introduction-value {
    font-weight: bold;
    height: 120px;
  }

  .room-address-value {
    color: #616161;
    font-size: 14px;
    background-color:  #FFE8CC;
    padding: 4px 8px;
    border-radius: 10px;
    width: fit-content;
  }

}
.search-form-value {
  width: 15rem;
  height: 40px;
  padding: .5rem;
  box-sizing: border-box;
  resize: none;
  border: 1px solid #64748b;
  border-radius: 4px;
}

.search-form-btn {
  width: 6.25rem;
  height: 40px;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.3s;
  background-color: #64748b;
  color: #fff;
  font-weight: bold;
}

.search-result-field {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 16px 0;
  gap: 20px;

  b {
    font-size: 1.5rem;
  }
}

.room-fee_per_day-value {
  color: #F0643A;
  font-weight: bold;
  font-size: 1.5rem;
}

.room-footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 16px auto;
}


@media (max-width: 1024px) {
  .room-footer {
    display: flex;
    flex-direction: column;
  }
}

.room-show-btn {
  background-color: #F0643A;
  padding: 8px 16px;
  border-radius: 4px;

  a {
    color: #FFF;
    font-weight: bold;
  }
}
