@import 'variables';

.dropdown-menu-own {
  position: relative;
  padding: 0;
  margin: 0;
  img {
    margin-top: 10px;
  }
}



.dropdown-menu-own-content  {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 120px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: left;
  ul {
    padding-left: 0;
    margin: 0;
  }
  li {
    list-style: none;
  }
}

.dropdown-menu-own:hover .dropdown-menu-own-content {
  display: block;
}

