@import 'variables'; 

.reserved-confirm-container {
  max-width: $form-base-width;
  margin: $base-margin;

  h2 {
    @include primary-screen-title;
    margin: 0 auto 32px;
  }
}

.reserved-confirm-wrapper {
  width: 100%;
  padding: 2rem;
  background: $primary-base-background-color;
  border: $primary-base-border;
  border-radius: 12px;
  box-shadow: $room-form-base-box-shadow;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reserve-confirm-row {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: bold;
  width: 80%;
  margin: 0 auto;
}

.reserve-confirm-message {
  width: 80%;
  margin: 0 auto;
  font-size: 1.25rem;
}

.reserve-confirm-label-sum {
  align-items: center;
}
.reserve-confirm-value-sum {
  font-size: 2rem;
  color: $form-btn-orange;
  background-color: #FFE8CC;
  padding: 4px 8px;
  border-radius: 10px;
}

.reserve-confirm-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 24px 0 16px;
}

.confirm-btn {
  width: 450px;
  padding: 16px 20px;
  font-size: 20px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px;

  &-ope {
    background-color:  $form-btn-orange;
    color: $form-btn-white;
    font-weight: bold;
    border: none;
  }

  &-return {
    text-decoration: none;
    transition: 0.3s;
    border: 2px solid #64747b;
    background-color: $form-btn-white;
    color: $form-btn-blue;
    font-weight: bold;
  }
}

