.form-container {
  
  .edit-account-label {
    font-weight: bold;
  }
}

.edit-account-row {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin: 1.25rem auto;
  small {
    font-weight: bold;
  }
}

.edit-account-title {
  display: block;

  small {
    display: block;
    white-space: nowrap;
  }
}

.edit-account-title {
  flex: 0 0 25%;
  min-width: 0
}

.edit-account-required {
  font-weight: bold;
  color: #F97316;
}

.edit-account-value {
  flex: 0 0  50%;
  padding: .5rem;
  box-sizing: border-box;
  height: 2.5rem;
  resize: none;
  border: 1px solid #64748b;
  border-radius: 4px;
}

.edit-account-row .field_with_errors {
  display: contents;
}

.form-edit-account-btn {
  display: flex;
  width: 50%;
  align-items: center;
  text-align: center;
  margin: 1rem auto 0;

  .edit-account-btn {
    &-ope {
      flex: 0 0 50%;
    }

    &-return {
      flex: 0 0 50%;
    }
  }
}

.edit-account-btn {
  display: inline-block;
  padding: 10px 24px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.3s;
  margin: 16px 24px;

  &-ope {
    color: #fff;
    background-color: #64748b;

    &:hover {
      background-color: #475569;
    }
  }

  &-return {
    color: #64748b;
    border: 2px solid #64748b;

    &:hover {
      background-color: #475569;
      color: #fff;
    }
  }
}


