<footer class="footer">
  <div class="footer-inner">
    <div class="footer-logo-wrapper">
      <%= link_to root_path, class: "site-logo" do %>
        <p class="footer-service-name">宿泊予約アプリ</p>
      <% end %>
    <p class="footer-copyright">&copy;2026 StayReservation. All Rights Reserved</p>
    </div>
    <ul class="footer-nav">
      <li><a href="#">About</a></li>
      <li><a href="#">サイトマップ</a></li>
      <li><a href="#">プライバシーポリシー</a></li>
    </ul>
  </div>
</footer>
