.tabs-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;
  max-width: 750px;

  label {
    flex: 1 1;
    order: -1;
    opacity: .5;
    min-width: 70px;
    padding: .6em 1em;
    border-radius: 5px 5px 0 0;
    background-color: #c97f19;
    color: #fff;
    font-size: .9em;
    text-align: center;
    cursor: pointer;
  }

  label:hover {
    opacity: .8;
  }

  input {
    display: none;
  }

  div {
    display: none;
    width: 100%;
    padding: 1.5rem 1rem;
  }

  label:has(:checked) {
    opacity: 1;

    + div {
      display: block;
    }
  }
}
