.tabs-container {
  margin: 0 auto 2rem;
  max-width: 800px;


  h2 {
    font-size: 2rem;
    border-bottom: solid 0.25rem orange;
    width: fit-content;
    margin: 2rem auto;
  }
}

.tabs-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;

  .tabs-menu-label {
    flex: 1 1;
    order: -1;
    min-width: 70px;
    padding: 1em 1em;
    border-radius:  0 0 12px 12px;
    background-color: #fff;
    color: #333;
    border: 2px solid #f2a23a;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;

    &:not(:has(:checked)):hover {
      background-color: #fff7ec;
    }
  }

  input {
    display: none;
  }

  .tabs-account {
    display: none;
    width: 100%;
    padding: 1.5rem;

    background: #fff;
    border: 2px solid #f2a23a;
    border-radius: 12px;
    box-shadow: 0px 8px 20px rgba(0,0,0,.08);

    p {
      font-size: 1rem;
      font-weight: bold;
    }
  }

  label:has(:checked) {
    background-color: #f2a23a; 
    color: #fff;
    border-color: #f2a23a;
    border-bottom: none;
    margin-bottom: -2px;

    + div {
      display: block;
    }
  }
}

.tabs-account-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: .75rem 0;
}

.tabs-account-label {
  flex: 0 0 25%;
  font-weight: bold;
}

.tabs-account-value {
  flex: 0 0 75%;
  margin: 0;

  &-img {
    border-radius: 50%;
    object-fit: cover;
  }
}

.account-btn {
  display: inline-block;
  padding: 10px 24px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.3s;
  margin: 0 10px;

  &-ope {
    color: #fff;
    background-color: #64748b;

    &:hover {
      background-color: #475569;
    }
  }

  &-return {
    color: #64748b;
    border: 2px solid #64748b;

    &:hover {
      background-color: #475569;
      color: #fff;
    }
  }

}

.tabs-account-btn {
  display: flex;
  width: 50%;
  align-items: center;
  text-align: center;
  margin: 1rem auto 0;

  .account-btn {
    &-ope {
      flex: 0 0 50%;
    }

    &-return {
      flex: 0 0 50%;
    }
  }
}
