/* 全体の設定 */
$text-base-color: #616161;
$title-base-size: 2rem;
$primary-base-border: 2px solid #f2a23a;
$primary-base-background-color: #FFF7ED;

$base-cursor: pointer;
$dropdown-base-hover-color: #007bff;

$base-max-width: 1200px;
$base-margin: 0 auto;
/* トップページ */
$top-background-color: aliceblue;

/* ヘッダー */

/* 検索欄 */
$color-primary-flame: #2b2ebf;
$color-search-orange: #f39c12;
$color-search-hover: #e67e22;

/* フォーム関連 */
/* フォームのお部屋関連 */

$form-base-border-radius: 12px;
$form-base-box-shadow: 0px 8px 20px rgba(0,0,0,.08);

$form-base-width: 800px;
$form-margin: 0 auto 32px;
$form-required-color: #F97316;
$form-required-background-color: #FFEDD5;
$form-error-massage-color: #EA580C;

$form-btn-blue: #64748b;
$form-btn-white: #FFF;
$form-btn-orange: #F0643A;
$form-btn-blue-hover: #475569;
$form-btn-black-hover: rgba(71, 85, 105, 0.08);

$label-base-background-color: #FFE8CC;
$form-value-border-color: #94a3b8;

/* お部屋予約のテーブル一覧画面 */
$table-base-margin: 2rem auto;
$table-tbody-color: #F8FBFE;
$table-room-name: #0071C1;
$table-room-name-hover: #005A9E;
$table-header-color: #7A4A1E;
$table-header-background-color: #FFF4E6;

/* お部屋のgrid一覧画面 */
$room-grid-color: #767E86;

/* アカウント設定画面 */
$tabs-header-checked-color: #f2a23a;
