.hero {
  background-image: url('travel.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 650px;

  &-copy {
    color: white;
    font-weight: bold;
    font-size: 64px;
    text-align: center;
    padding: 50px;
  }

  &-search-form {
    text-align: center;
    background-color: aliceblue;
    opacity: 0.9;
    width: 50%;
    height: 200px;
    margin: 0 auto;
    border-radius: 8px;
  }

  .area-search-input {
  width: 80%;
  height: 50px;
  margin: 30px auto;
  border-radius: 8px;
  border: solid 2px blue;
  }

  &-search-btn {
  display: block;
  width: 80%;
  height: 50px;
  margin: auto;
  background-color: orange;
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  }
}

.recommend-areas {
  max-width: 1100px;
  margin: 0 auto;
  align-content: center;
  height: 550px;

  h3 {
  font-size: 2rem;
  margin: 20px auto;
  padding-bottom: 10px; 
  border-bottom: solid 0.25rem orange;
  width: fit-content;
  }
}

.area-grid {
  max-width: 1100px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2rem;
  padding: 1.5rem;
}
.area-item {
  background-image: url('travel.jpeg');
  border-radius: 1rem;
  width: auto;
  height: 350px;

  .area-name {
    margin-top: 250px;

    p {
      vertical-align: middle;
      font-size: 1.5rem;
      text-indent: 1em;
      color: white;
      font-weight: bold;
    }
  }
}

